Data/**
Data/Logs/**
Data/data.ExternalData/**
DossierWeb/**
Extras/**
Logs/**
Project/DerivedData/**
Project/Trash/**
Project/Sources/settings.4DSettings
Settings/backup.4DSettings
Settings/settings.4DSettings
userPreferences.*
*.4DB
*.4DC
*.4DD
*.4BK
*backupHistory.json
*.4DIndx
*.4DIndy
*.Match
*.journal
*.Ink
*.pst
*.swp
*.tmp
*.temp
*.DS_Store
*.log
*.app
Project/DerivedData/3/formAttributes.json
